body,
html {
    width: 100%;
    height: 100%;
    background-color: black;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

p{
    font-size: 12pt;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
}

#Name {
    font-size: 18px; 
}

.topnav {
    font-size: 14px; 
}

.lead {
    font-size: 17px;
    font-weight: 400;
    color: grey; 
    text-align: center;
}

#page-ops {
    position: fixed;
    bottom: 20px;
    left: 10px;
    font-size: 10pt;
}

#page-ops a {
    border: 1px solid #333;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 2px 5px 4px 4px;
    color: grey;
}

.border{
    border-width: 1px;   
    border-color: grey;   
    border-style: solid; 
}

img{
    margin-bottom: 10px;
}

footer {
    padding-bottom: 10px;
    padding-right: 0px;
}

footer a {
    color: grey;
    float: right;
}